<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">

<div class="w3-container">

<h3>Question</h3>

<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th>Edit</th>
    <th>Question</th>
  </tr>
  <tr ng-repeat="user in users">
    <td>
      <button class="w3-btn w3-ripple" ng-click="editUser(user.id)">&#9998; Edit</button>
    </td>
    <td>{{ user.question}}</td>
  </tr>
</table>
<br>
<button style="background-color: #008CBA" ng-click="editUser('new')">&#9998; Create New Question</button>

<form ng-hide="hideform">
  <h3 ng-show="edit">Create New Question:</h3>
  <h3 ng-hide="edit">Edit Question:</h3>
    <label>Question:</label>
    <input class="w3-input w3-border" type="text" ng-model="question" >
  <br>
    <label>Answer:</label>
    <input class="w3-input w3-border" type="text" ng-model="answer">
  <br>
  <button style="background-color:#008CBA;font-color:white"  ng-disabled="error || incomplete">&#10004; Save Changes</button>
</form>

</div>

<script src= "myUsers.js"></script>

</body>
</html>

